@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,500;8..144,900&family=Roboto:ital@0;1&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(243, 244, 245);
  font-family: "Poppins", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
